{% extends 'women/base.html' %}

{% block content %}
<h1>{{ title }}</h1>

<!-- Форма авторизации -->
<form method="post">
    {% csrf_token %}

    <!-- Вывод ошибок при авторизации -->
    <div class="form-error">{{ form.non_field_errors }}</div>

    <!-- Вывод полей формы авторизации циклом -->
    {% for f in form %}
    <p><label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}: </label>{{ f }}</p>
    <div class="form-error">{{ f.errors }}</div>
    {% endfor %}

    <button type="submit">Войти</button>
</form>
<!-- Конец формы авторизации авторизации -->

{% endblock %}